#app
  min-height: 100vh
  display: grid
  font-size: 16rem
  grid-template-columns: 1fr
  grid-template-rows: auto 1fr auto
  grid-template-areas: 'header''main''footer'
  & > header
    grid-area: header
  & > main
    grid-area: main
  & > footer
    grid-area: footer

.y-border
  border: 2px solid var(--primary) !important
  color: inherit !important
.main-container
  margin: 0 auto 2em auto !important
  max-width: 1170px !important
.wide
  min-width: 100vw
  position: relative
  left: 50%
  transform: translateX(-50%)
.with-line::after
  content: ''
  display: inline-block
  width: 90px
  height: 2px
  margin: auto 0 17px 40px
  background: var(--primary)
.accent-container
  background-color: var(--primary-accent)
.primary-accent
  color: var(--primary-accent)
.link
  -webkit-text-stroke: 0.2px var(--secondary)
